@model Org.Ktu.Isk.P175B602.Autonuoma.Models.MokejimasF2.MokejimasCE

@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Mokėjimo įterpimas (F2)"; }

@* content header *@
<div class="main-content-header">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>

@* content itself *@
<div class="main-content-ced">
@using( Html.BeginForm(FormMethod.Post, new { @class="entity-ce" }) )
{
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
	@Html.HiddenFor(m => m.Mokejimas.id_Mokejimas)

	<fieldset>
		<legend class="text-center">Mokėjimas</legend>

        <div class="form-group">
			@Html.LabelFor(m => m.Mokejimas.data)
			@Html.TextBoxFor(m => m.Mokejimas.data, "{0:yyyy-MM-dd}", new { @class = "date-picker" })
			@Html.ValidationMessageFor(m => m.Mokejimas.data, "")
		</div>

        <div class="form-group">
			@Html.LabelFor(m => m.Mokejimas.suma)
			@Html.EditorFor(m => m.Mokejimas.suma)
			@Html.ValidationMessageFor(m => m.Mokejimas.suma, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Mokejimas.busena)
			@Html.DropDownListFor(m => m.Mokejimas.busena, Model.Lists.Busenos, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Mokejimas.busena, "")
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Mokejimas.fk_Klientasasm_k)
			@Html.DropDownListFor(m => m.Mokejimas.fk_Klientasasm_k, Model.Lists.Klientai, (string)ViewData["none-chosen"])
			@Html.ValidationMessageFor(m => m.Mokejimas.fk_Klientasasm_k, "")
		</div>

	</fieldset>

    <fieldset>
		<div class="container-fluid d-flex d-row justify-content-between align-items-center">
			<span></span>
			<legend style="width: unset; margin-bottom: 0px;">Užsakymai</legend>
			<button
				name="add"
				value="1"
				formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
				formaction="@Url.Action()#listEnd"
				class="btn btn-info"
			><i class="fa-solid fa-plus"></i> Pridėti</button>
		</div>

		<table>
			<thead>
				<tr>
					<th>Užsakymo Nr.</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for( var i = 0; i < Model.UzsakymaiList.Count; i++ ) {
				<tr>
					<td class="form-group">
						@* add hidden form fields for non-visible properties, otherwise they will get lost in code that handles button presses *@
						@Html.HiddenFor(m => m.UzsakymaiList[i].InListId)
                        @Html.DropDownListFor(m => m.UzsakymaiList[i].UzsakymoNr, Model.Lists.Uzsakymai, (string)ViewData["none-chosen"])
						@Html.ValidationMessageFor(m => m.UzsakymaiList[i].UzsakymoNr, "")
					</td>

					<td>
						<button
							name="remove"
							value="@Model.UzsakymaiList[i].InListId"
							formnovalidate @*ASP.NET Core magic attribute to prevent client side validation when submit button is clicked*@
							formaction="@Url.Action()#listEnd"
							class="btn btn-danger"							
						><i class="fa-solid fa-trash"></i> Šalinti</button>
					</td>
				</tr>
				}
			</tbody>
		</table>

		@* this is used as a marker to automatically scroll down to the end of items list when returning from button presses *@
		<span id="listEnd"></span>
	</fieldset>

    @if( ViewData["savingNotPermitted"] != null )
    {
		 <div class="fail-msg">
		    <i class="fa-solid fa-circle-exclamation"></i> Data negali eiti į prieki
		  </div>
	 }

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

@* content footer *@
<div class="main-content-footer">
	<span class="title"></span>
	<span class="actions">
		<a 
			href="@Url.Action("Index")" 
			class="btn btn-outline-primary btn-sm"
		>
			<i class="fa-solid fa-angles-left"></i> Atgal į sarašą
		</a>
	</span>
</div>